.class-box
  width 100vw
  .table-mask
    width 100vw
    height 100vh
    background #fff
    position fixed
    top 0
    left 0
    z-index 100
    text-align center
    display flex
    align-items center
    justify-content center
    Text
      font-size 40px
      color #dcdada
  .data-null
    color #dcdada
    font-size 40px
    text-align center
    margin-top 30px
  .class-list
    width calc(100vw - 40px)
    height auto
    margin 0 auto
    border-radius 8px
    background #fff
    margin-top 20px
    padding 10px 30px 20px
    overflow hidden
    position relative
    .class-time
      background url("../../asset/images/class_time.png") left no-repeat
      background-size 6%
      padding-left 60px
      color #3ea1f5
      margin-top 10px
    .class-type
      width 128px
      height 80px
      background #b2d9fb
      position absolute
      top calc(50% - 40px);
      right 0
      border-top-left-radius 40px
      border-bottom-left-radius 40px
      padding-left 30px;
      Text
        font-size 30px
        color #fff
        line-height 80px
    .class-begin
      background #85eeb6
    .class-end
       background #dddddd
    .class-name
      width calc(100vw - 190px)
      font-weight 600
      font-size 36px
      margin-top 15px
    .class-campus
      font-size 32px
      color #8a8a8a
    .class-progress
      margin-top 10px
      Text
        font-size 30px
        color #454545
      .progress
        margin-top 15px
  .search
    width 100vw
    height 110px
    background #fff
    box-sizing border-box
    border-bottom 1px solid #f3f3f3
    padding 30px 20px
    .search-class
      width 100%
      height 70px
      background #f3f3f3
      border-radius 50px
      padding-left 25px
      display flex
      line-height 70px
    .class-input
      font-size 30px
      margin-left 10px
      margin-top 12px
    .class-year
      width 90%
      height 70px
      background #f3f3f3
      border-radius 50px
      text-align center
      line-height 70px
      color #3ea1f5
  .common-type
   margin-top -11px
  .class-list-box
    width 100vw
    height calc(100vh - 173px);
.scroll
  width 100vw
  height calc(100vh - 190px)
