.class-detail
  .class-header
    width 100vw
    height auto
    background #3ea1f5
    padding 0 30px
    color #fff
    .class-name
      Text
        font-weight 600
        font-size 40px
    .class-teacher
      font-size 34px
    .class-campus
      width 100%
      min-height 90px
      border-bottom 1px  solid #56adf6
      display flex
      Image
        width 36px
        height 36px
        margin-right 40px
        margin-top 27px
      Text
        font-size 28px
        line-height 90px
  .class-foot
    width 100vw
    height auto
    padding-left 38px
  .class-list
    width 100%
    height calc(100vh - 492px)
    display flex
    flex-wrap wrap
    justify-content flex-start
    align-content flex-start
    overflow-y auto
    padding-bottom 30px
    .data-null
      color #dcdada
      margin 30px auto
      font-size 40px
  .class-times-actived
    color #acacac !important
  .class-times
    width 141px
    height 141px
    background #f3f3f3
    margin-top 38px
    margin-right 38px
    border-radius 10px
    color #3ea1f5
    text-align center
    position relative
    .class-list-teacher
      position absolute
      top 0px
      right 0px
      font-size 20px
      color #3ea1f5
    .class-index
      font-size 50px
      // line-height 88px
      display block
      margin-top 22px
      margin-bottom 4px
    .class-date
      font-size 30px
  .class-stu
    width 141px
    height auto
    background  none
    margin-right 38px
    Image
      width 141px
      height 141px
      border-radius 50%
      border 1px solid #f2f2f2
    View
      font-weight 600
      font-size 30px
      color #161616
