.student-sign
  background #fff
  .data-null
    margin-top 160px
    text-align center
    color #dcdada
  .sign-hander
    display flex
    justify-content space-between
    width 100%
    height 115px
    background #fff
    z-index 100
    padding 30px
    /* position absolute
    top 0
    left 0 */
    Text
      font-weight 600
      font-size 40px
    .hander-right
      display flex
    .all-sign
      background #3ea1f5
      width 180px
      height 60px
      border-radius 60px
      line-height 60px
      color #fff
      border none
      margin-right 20px
      font-weight normal
      text-align center
      Text
        font-size 30px
    .xuanzuo
        margin 0px
        background #80e6ba
  .student-list
    height calc(100vh - 100px)
    width 100%
    padding 0 30px 30px 30px
    // margin-top 10px
    .student
      width 100%
      height 180px
      background #f3f3f3
      margin-bottom 20px
      border-radius 10px
      padding 30px 20px
      View
        display flex
        .student-img
          width 50px
          height 50px
          border-radius 50%
          Image
            width 100%
            height 100%
            border-radius 50%
        .student-name
          margin-left 20px
          font-size 34px
          font-weight 600
          color #021c17
          line-height 50px
          .student-pinyin
            color #4a5c59
            font-weight normal
      .sign-type
        display flex
        justify-content space-between
        margin-top 20px
        .sign-default
          width 118px
          height 56px
          line-height 56px
          font-size 25px
          border-radius 50px
          color #3ea1f5
          background #f3f3f3
          box-sizing border-box
          border 1px solid #3ea1f5
          text-align center
          Text
            margin 0 auto
        .sign
          background -webkit-linear-gradient(left top, #82e39f ,#87e6bd)
          background -o-linear-gradient(right, #82e39f, #87e6bd)
          background -moz-linear-gradient(right, #82e39f, #87e6bd)
          background linear-gradient(to right, #82e39f , #87e6bd)
          border none
          color #174c36
        .leave
          background -webkit-linear-gradient(left top, #63e7e0 ,#7ad3fb)
          background -o-linear-gradient(right, #63e7e0, #7ad3fb)
          background -moz-linear-gradient(right, #63e7e0, #7ad3fb)
          background linear-gradient(to right, #63e7e0 , #7ad3fb)
          border none
          color #174c36
        .absenteeism
          background -webkit-linear-gradient(left top, #ff9079 ,#ff8479)
          background -o-linear-gradient(right, #ff9079, #ff8479)
          background -moz-linear-gradient(right, #ff9079, #ff8479)
          background linear-gradient(to right, #ff9079 , #ff8479)
          border none
          color #174c36
        .late
          background -webkit-linear-gradient(left top, #ffe090 ,#facb8d)
          background -o-linear-gradient(right, #ffe090, #facb8d)
          background -moz-linear-gradient(right, #ffe090, #facb8d)
          background linear-gradient(to right, #ffe090 , #facb8d)
          border none
          color #174c36
        .buqian
          background -webkit-linear-gradient(left top, #3e9ff5 ,#3e8ff5)
          background -o-linear-gradient(right, #3e9ff5, #3e8ff5)
          background -moz-linear-gradient(right, #3e9ff5, #3e8ff5)
          background linear-gradient(to right, #3e9ff5 , #3e8ff5)
          border none
          color #174c36
        .disabled
          background #dcdcdc
          border none
          color #acacac
  .sign-font
    text-align center
    margin:30px 0px
  .sign-btn
    .sign-in-btn
      background-color #3ea1f5 !important
      color #fff
      border-radius 0px
      outline 0
      width 50%
    .cancel-btn
      background-color #e5e5e5 !important
      border-radius 0px
      outline 0
      width 50%
  .repair-box
    padding 30px 20px
    font-size 30px
    .repair-reason
      border-bottom 1px solid #f2f2f2
      display flex;
      justify-content space-between
      Text
        line-height 50px;
        width 185px
      Input
        width 365px
    .repair-time
      display flex
      margin-top 20px
      .date-box
        display flex
        .current-date
          font-size 30px
          background url(../../asset/images/calendar.png) right top no-repeat
          background-size 75%
          padding 0 50px 0 0
.sign-btn .at-modal-footer
    border 0 !important
