view
  box-sizing border-box
.class-detail
  .class-foot
    .class-tab
      .at-tabs__header
        width 25% !important
      .at-tabs__item
        padding: 10px 0px !important
        margin-left: -20px !important
        font-size 32px
      .at-tabs__item::after
        width 30% !important
        height 6px !important
        text-align center !important
        margin-left 40px !important
        background-color none !important
        box-sizing border-box !important
        border 6px solid #3ea1f5 !important
        border-radius: 8px !important
      .at-tabs__item--active
        color: #161616 !important
        font-weight: 600 !important
.entry .at-form ,.entry .at-input__children
  border none !important
  padding 0px
.admin-table
  .search
    .at-search-bar
      border-bottom: 0 !important
    .at-search-bar__action
      background-color: #3ea1f5 !important
